h1 {
    color: rgb(10, 6, 6);
}



ul {
    list-style: none;
    padding-left: 0%;
    text-align: center;
}

ul li {
    border: 3px outset;
    display: inline-block;
}



img {
display: block;
width: 50%;
margin: auto;
}




